body {
  text-align: center;
}

.top {
  background: #E5F3F2;
}

header {
  padding:20px;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 40px;
  color: #6D6E71;
}

.firstword {
  color: #00A79D;
}

.save {
  width: 60.25%;
  height: 25px;
  font-size: 100%;
  margin-bottom: 20px;
  background: #00A79D;
  color: #FFFFFF;
  border: none;
}

.save:hover {
  background: #045E45;
}

input {
  display: block;
  margin: auto;
  width: 60%;
  height: 25px;
  font-size: 100%;
  margin-bottom: 15px;
}

/*Bottom Section CSS*/

.bottom {
  margin-top: 1%;
}

.search {
  margin: auto;
  width: 60%;

}

.ideabody {
  dispaly: flex;
  flex-direction: column;
  width: 60%;
  margin: auto ;
  margin-top: 1%;
}

h2 {
  color: #6D6E71;
  text-align: left;
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  width: 100%;
  order: 1;
  font-family: 'Roboto Slab', serif;

}


.body-content {
  color: #939598;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top:2%;
  /*text: Open Sans, Regular 400*/
}

.quality {
  color: #6D6E71;
  margin-top: 5px;
}

.deleteArrow{
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  float: right;
}

hr {
  margin: auto, 7%;

  width: 100%;

}

.quality{
  text-align: left;
  vertical-align: top;
  margin-top: 5%;
}

.upvote {
  background: url('./images/upvote.svg' ) no-repeat;
  border: none;
  height:20px;
  width:20px;
  vertical-align: top;
  margin-right: 5px;
}

.upvote:hover {
  background: url('./images/upvote-hover.svg' ) no-repeat;
  border: none;
}

.downvote {
  background: url('./images/downvote.svg' ) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
  vertical-align: top;

}
.downvote:hover {
  background: url('./images/downvote-hover.svg' )
}

.idea-section {

}

.deleteArrow {
  background: url('./images/delete.svg' ) no-repeat;
  border: none;
  height: 18px;
  width: 18px;

}

.deleteArrow:hover {
  background: url('./images/delete-hover.svg' ) no-repeat;
  border: none;
}

@media screen and (max-width: 450px) {
