body {
  text-align: center;
}

.top {
  background: #E5F3F2;
}

header {
  padding:20px;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 40px;
  color: #6D6E71;
}

.firstword {
  color: #00A79D;
}

.save {
  width: 60.25%;
  height: 25px;
  font-size: 100%;
  margin-bottom: 20px;
  background: #00A79D;
  color: #FFFFFF;
  border: none;
}

.save:hover {
  background: #045E45;
}

input {
  display: block;
  margin: auto;
  width: 60%;
  height: 25px;
  font-size: 100%;
  margin-bottom: 15px;
}

/*Bottom Section CSS*/

.bottom {
  border: solid 2px black;
}

.search {
  margin: auto;
  width: 60%;
}

.ideabody {
  width: 60%;
  border: solid 2px black;
  margin: auto;
}

h2 {
  color: #6D6E71;
}

@media screen and (max-width: 450px) {
