body {
  text-align: center;
}

.top {
  background: #E5F3F2;
}

header {
  padding:20px;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 40px;
  color: #6D6E71;
}

.firstword {
  color: #00A79D;
}

.save {
  width: 60.25%;
  height: 25px;
  font-size: 100%;
  margin-bottom: 20px;
  background: #00A79D;
  color: #FFFFFF;
  border: none;
}

.save:hover {
  background: #045E45;
}

input {
  display: block;
  margin: auto;
  width: 60%;
  height: 25px;
  font-size: 100%;
  margin-bottom: 15px;
}

/*Bottom Section CSS*/

.bottom {
}

.search {
  margin: auto;
  width: 60%;
}

.ideabody {
  dispaly: flex;
  flex-direction: column;
  width: 60%;
  margin: auto ;
  margin-top: 10px;
}

h2 {
  color: #6D6E71;
  text-align: left;
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  width: 100%;
  order: 1;
  font-family: 'Roboto Slab', serif;

}


.body-content {
  color: #939598;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top:5px;
  /*text: Open Sans, Regular 400*/
}

.quality {
  color: #6D6E71;
  margin-top: 5px;
}

.deleteArrow{
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  float: right;
}

.quality{
  text-align: left;
  vertical-align: top;
}

.upvote {
  height:20px;
  width:20px;
  vertical-align: top;
  margin-right: 5px;
}

.downvote {
  height: 20px;
  vertical-align: top;

}

.delete {


}

@media screen and (max-width: 450px) {
